In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('mercado.csv', header=None)

In [3]:
dados.head()

         0        1         2         3
0    leite  cerveja       pao  manteiga
1     cafe      pao  manteiga       NaN
2     cafe      pao  manteiga       NaN
3    leite     cafe       pao  manteiga
4  cerveja      NaN       NaN       NaN

In [7]:
transacoes = []
for i in range(dados.shape[0]):
    transacoes.append([str(dados.values[i, j]) for j in range(dados.shape[1])])

In [8]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [14]:
from apyori import apriori

In [30]:
regras = apriori(transacoes, min_support=0.3, min_confidence=0.8, min_lift=2, min_length=2)

In [31]:
resultados = list(regras)

In [32]:
len(resultados)

3

In [33]:
resultados

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [34]:
resultados2 = [list(x) for x in resultados]
resultados2

[[frozenset({'cafe', 'manteiga'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'manteiga', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]]]

In [37]:
resultadoFormatado = []
for j in range(0,len(resultados)):
    resultadoFormatado.append([list(x) for x in resultados2[j][2]])

In [38]:
resultadoFormatado

[[[frozenset({'cafe'}), frozenset({'manteiga'}), 1.0, 2.0]],
 [[frozenset({'cafe'}), frozenset({'pao'}), 1.0, 2.0]],
 [[frozenset({'cafe', 'manteiga'}), frozenset({'pao'}), 1.0, 2.0],
  [frozenset({'cafe', 'pao'}), frozenset({'manteiga'}), 1.0, 2.0]]]